<%let fields = utils.getComponentFileds(componentName,data)-%>
  <div class="container">
    <mat-card *ngIf=!action><strong>Error 404</strong>: Entry for Update/Delete no found!</mat-card>
    <mat-card *ngIf=action>
    <h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
    <div mat-dialog-content *ngIf="(action != 'Delete'); else elseTemplate">
<%fields.forEach(f =>{-%>
<%if(f.element === "Input"){-%>
      <mat-form-field>
        <mat-label><%=f.label%></mat-label>
        <input matInput [(ngModel)]="localData.<%=f.name%>">
      </mat-form-field><br/>
<%}-%>
<%if(f.element === "Datepicker"){-%>
      <mat-form-field appearance="fill">
        <mat-label><%=f.label%></mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br/>
<%}-%>
<%if(f.element === "Button"){-%>
        <button mat-raised-button color="primary"><%=f.label%></button><br/>
<%}-%>
<%if(f.element === "Radio"){-%>
      <mat-label><%=f.label%></mat-label>
      <mat-radio-group aria-label="<%=f.label%>">
<%f.options.forEach(o=>{-%>
        <mat-radio-button value="<%=o%>"><%=o%></mat-radio-button>
<%})-%>
      </mat-radio-group><br/>
<%}-%>
<%if(f.element === "Select"){-%>
      <mat-form-field appearance="fill">
        <mat-label><%=f.label%></mat-label><br/>
        <mat-select [(ngModel)]="localData.<%=f.name%>">
<%f.options.forEach(o=>{-%>
          <mat-option value="<%=o%>"> <%=o%> </mat-option>
<%})-%>
        </mat-select>
      </mat-form-field><br/>
<%}-%>
<%})-%>
    </div>
    <div>
      <ng-template #elseTemplate>
        Sure to delete <b>{{localData.name}}</b>
        <br/><br/>
        </ng-template>
    </div>
    <div mat-dialog-actions class="buttonAction">
      <button mat-raised-button color="primary" (click)="doAction()">{{action}}</button>
      <button mat-raised-button color="warn" (click)="navigatePage()" mat-flat-button color="warn">Cancel</button>
    </div>
  </mat-card>
</div>
