<%let components = utils.getRouting(data)-%>
<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button class="icon-button">
      <mat-icon (click)="snav.toggle()" [ngStyle]="{ color: 'white' }"
        >menu</mat-icon
      >
    </button>
    <h1 class="example-app-name">&nbsp;Virtusa App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container scrollside">
    <mat-sidenav class="item" #snav>
      <mat-nav-list>
        <h3>Menu</h3>
        <hr />
        <a mat-list-item routerLink="">Dashboard</a>
<%components.forEach(com => {-%>
<%com = com.componentName-%>
        <a mat-list-item routerLink="/<%=utils.compName(com,'dash')%>"><%=com%></a>
<%})-%>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="Title">
        <h1><%=utils.sectionName(appName)%></h1>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
