.example-container {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.scrollside {
  height: 90%;
  bottom: 0;
}

.item {
  width: 15%;
  text-align: center;
}

.icon-menu {
  height: 20px;
  width: 20px;
}

.example-toolbar {
  background-color: #1167b1;
  color: whitesmoke;
}

.chart {
  text-align: center;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none ;
}

.Title{
  margin: 60px;
}

mat-sidenav-content {
  background-color: whitesmoke;
}
