<mat-tab-group>
<%tabLayoutData.forEach(t => {-%>
  <mat-tab label="<%=t.tabName%>"> 
    <mat-card>
      <form [formGroup]="<%=t.tabName%>">
<%t.sections.forEach(s => {-%>
        <div class="section">
          <mat-card-header class="tab-heading"><%=utils.sectionName(s.sectionName)%></mat-card-header>
          <div formGroupName="<%=utils.pascalCase(s.sectionName)%>" class="example-form">
            <div class="row">
<%s.elements.forEach(e => {-%>
        <%-utils.getUiElement("material",e,layout.pattern)%>
<%})-%>
            </div>
          </div>
        </div>
<%})-%>
      </form>
    </mat-card>
  </mat-tab>
<%})-%>
</mat-tab-group>
