/* You can add global styles to this file, and also import other style files */
@import url('./base.css');
@import url('./base-grid.css');


html, body { height: 100%; }
body { margin: 0; font-family: 'Source Sans Pro' ,sans-serif; overflow-x: hidden;}
